<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysj.mpandroidchart">

    <application>
        <activity android:name=".twolinechart.TwoLinesChartActivity"></activity>
        <activity android:name=".piechart.PieChartActivity" />
        <activity android:name=".linechart.LineChartActivity" />
        <activity android:name=".barchart.HorizontalBarActivity" />
        <activity android:name=".barchart.BarChartActivity" />
    </application>

</manifest>